.startButton {
  background-color: #0d3f8b;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  width: 300px;
  height: 150px;
  font-family: rooney-sans,sans-serif;
  border-radius: 25px;
  margin: 200px 5px;
}

.start {
  text-align: center;
}

.background {
  background-image: url('images/world.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
}

.header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  font-family: rooney-sans,sans-serif;
  line-height: 4;
}

h1{
  background-color: black;
  margin: 0px 600px;
  border-radius: 15px;
}

h2 {
  background-color: black;
  margin: 0px 500px;
  font-size: 25px;
  border-radius: 15px;
}

h3 {
  font-size: 35px;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin: 0px 600px;
}

.verticalLine {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 6px;
  top: 1%;
  bottom: 1%;
  left: 50%;
  z-index: 2;
} 
.grid-container{
  display: grid;
}

.container {
  height: 100vh;
  flex: column;
  margin: auto;
}

.image1 {
  padding-top: 5%;
  width: auto;
  height: auto;
  float: left;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 2;
}

#nameA {
  color: white;
  font-size: 32px;
}

#populationA {
  color: white;
  font-size: 32px;
}

#nameB {
  
  color: white;
  font-size: 32px;
}

#question {
  color: white;
  font-size: 32px;
}

#score {
  color: white;
  font-size: 32px;
}

#blank  {
  color: rgba(255, 255, 255, 0);
  font-size: 32px;
}

 .image2 {
  padding-top: 5%;
  width: auto;
  height: auto;
  float: right;
  margin: auto;
  grid-column-start:2;
  grid-column-end: 3;
}

.button1 {
  border-radius: 25px;
  font-size: 32px;
  background-color: #0d3f8b;
  color: white;
  float: right;
  margin-right: 10%;
  cursor: pointer;
  font-family: rooney-sans,sans-serif;
  width: 300px;
  height: 150px;
}

.button2 {
  border-radius: 25px;
  font-size: 32px;
  background-color: #0d3f8b;
  color: white;
  float: right;
  cursor: pointer;
  font-family: rooney-sans,sans-serif;
  width: 300px;
  height: 150px;
}

#restartButton {
  border-radius: 25px;
  font-size: 32px;
  background-color: #0d3f8b;
  color: white;
  float: right;
  cursor: pointer;
  font-family: rooney-sans,sans-serif;
  width: 300px;
  height: 150px;
  visibility: hidden;
  position: absolute;
  margin-left: 73.45%;
}

#backToMenu {
  visibility: hidden;
  position: absolute;
  margin-left: 57.70%;
}